.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.navLinks {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.navLink a {
  text-decoration: none;
  color: rgb(73, 131, 255);
}
.nav {
  margin: 0;
  padding: 0;
  background-color: rgb(73, 131, 255);
  padding: 2rem 0;
}
.navLink {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 1rem;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.btn {
  font-size: 2rem;
  padding: 1rem;
  margin: 2rem;
  background-color: darkgray;
  border: none;
  border-radius: 2rem;
  width: 100%;
  max-width: 300px;
  margin: 1rem auto;
  cursor: pointer;
}
.btn-container {
  justify-content: center;

  display: flex;
  flex-direction: column;
  border: 3px solid;
  margin: 5rem;
  border-radius: 2rem;
  padding: 2rem;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grades form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}
.grades p {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0;
}
.grades form button {
  width: 4.5rem;
}
.grades-table-container table {
  width: 100%;
}
